html {          
    font-size: 62.5%; 
  }
body{          
    font-size: 1.7rem; 
  } 

/* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 100%;
    background-image: url("images/Background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  #hobbies {
    background-image: url("images/books.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30rem; 
    vertical-align: middle !important; 
    width: 100%;
  }

  #head {
    width: 100%; 
    height: 72rem;
  }

  #name {
    text-align: center; 
    font-family: Raleway, sans-serif; 
    font-size: xx-large; 
    background-color: rgb(238, 238, 238); 
    width: 50%; position: absolute; 
    padding: 2rem; 
    border-top-left-radius: .8rem; 
    border-top-right-radius: .8rem; 
    border-bottom-right-radius: .8rem; 
    border-bottom-left-radius: .8rem; 
    opacity: 0.5; margin-top: 18rem; 
    margin-left: 25%; 
    margin-right: 25%; 
  }
  .grid {
    width: 100%;
  }
  table {
      width: 100%;
      height: 100%;
      border-spacing: 3rem;
  
  }
  
  tr {
      width: 100%;
      height: 100%;
  }
  
  td {
      transition-duration: 0.8s;
      text-align: center;
      vertical-align: middle;
      border: solid black .1rem;
  
  }
  
  td:hover {
      background-color: white;
      opacity: 0.9;
      box-shadow: .5rem 1rem 1.5rem .5rem rgba(0, 0, 0, 0.5);
  }
  
  .cells {
       padding-top: 2rem;
       padding-left: 2.5rem;
       padding-right: 2.5rem;
  }
  
  .cell1 {
      background-image: url("images/deadlift_example2.jpg");
      background-size: 50rem 50rem;
      background-repeat: no-repeat;
      background-position: center center;
  
  }
  
  .cell2 {
      background-image: url("images/s1.jpg");
      background-size: 50rem 50rem;
      background-repeat: no-repeat;
      background-position: center center;
  
  }
  
  .cell3 {
      background-image: url("images/blockchaingePicture.jpg");
      background-size: 50rem 50rem;
      background-repeat: no-repeat;
      background-position: center center;
  }
  
  .cell4 {
      background-image: url("images/Jordan.jpg");
      background-size: 50rem 50rem;
      background-repeat: no-repeat;
      background-position: center center;
  }
  
  .cell5 {
      background-image: url("images/algo.jpg");
      background-size: 50rem 50rem;
      background-repeat: no-repeat;
      background-position: center center;
  }
  
  
  .cell6 {
    background-color: black;
  }
  
  .v1 {
    font-family: 'Raleway', sans-serif;
       color: white;
       font-size: 2rem;
       text-align: center;
       vertical-align: center;
       opacity: 0;
  
  }
  
  .v1:hover {
       opacity: 0.9;
       color: black;
  
  }
  
  .v2 {
    font-family: 'Raleway', sans-serif;
       color: white;
       font-size: 2rem;
       text-align: center;
       vertical-align: center;
       opacity: 0;
  
  }
  
  .v2:hover {
       opacity: 0.9;
       color: black;
  
  }
  
  .v3 {
    font-family: 'Raleway', sans-serif;
       color: white;
       font-size: 2rem;
       text-align: center;
       vertical-align: center;
       opacity: 0;
  
  }
  
  .v3:hover {
       opacity: 0.9;
       color: black;
  
  }
  
   .v4 {
      font-family: 'Raleway', sans-serif;
      color: white;
      font-size: 2rem;
      text-align: center;
      vertical-align: center;
  
  }
  
  .v4:hover {
      opacity: 0.9;
      color: black;
  
  }
  
  h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 7rem;
      text-align: center;
      padding-top: 2.5rem;
      color: black;
  }
  
  h2 {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
      color: black;
  }
  
  h3 {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 4rem;
      text-align: center;
      padding-top: 35rem;
      color: black;
  }
  
  h4 {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
      padding-top: 4.8rem;
      color: black;
  }
  
  h5 {
      font-family: 'Raleway', sans-serif;
      font-size: 2rem;
      text-align: center;
      padding-top: 2.5rem;
      color: black;
  }
  
  i {
      font-family: 'Raleway', sans-serif;
      font-size: 3rem;
      text-align: center;
      margin: .8rem;
      color: dark gray;
      line-height: 4rem;
  }
  
  .p1 {
      font-family: 'Raleway', sans-serif;
      font-size: 2rem;
      text-align: center;
      margin-top: 1.6rem;
      margin-bottom: 1.6rem;
      line-height: 4rem;
  }
  
  .italic {
      font-weight: italic;
      text-align: center;
  }
  
  p {
      font-family: 'Raleway', sans-serif;
      font-size: 1.8rem;
      text-align: left-side;
      margin-top: 6.4rem;
      margin-right: 6.4rem;
      margin-left: 6.4rem;
      margin-bottom: 3.2rem;
  }
  
  a {
      transition-duration: 0.8s;
      display: inline-block;
  }
  
  a:hover {
      background-color: #FFFFFF;
  }
  
  .contact:hover {
      color: #FFFFFF;
      background-color: #000000;
  }

  .contact {
    text-decoration: none; 
    padding: 1rem; 
    border-top-left-radius: .5rem; 
    border-top-right-radius: .5rem; 
    border-bottom-right-radius: .5rem; 
    border-bottom-left-radius: .5rem; 
    border: .1rem solid rgb(0, 0, 0); 
    width: 40rem;
  }

  .cell {
      margin: 2.5rem;
      height: 50rem;
  }

  .row {
      display: flex;
      flex-direction: row;
  }

  @media (max-width: 1020px) {
      .row {
          flex-direction: column;
      }
  }

  